<!--Card-->
<div class="ui five column grid">
  <div class="column" *ngFor="let movie of movies">
    <div class="ui fluid card">
      
	  <div class="image">
			<img [src]="+img_link+movie.poster_path">
		</div>
		<div class="content">
			<a class="header">{{movie.title}}</a>
			<div class="meta">
			</div>
		</div>
		<div class="content">
			<span class="center floated">
			<i class="thumbs outline up icon"></i>
			{{movie.vote_average}}
			</span>
		</div>
		<div class="extra content">
			<a>
			<i class="calendar icon"></i>
			{{movie.release_date}}
			</a>
		</div>
    </div>
  </div>
</div>
