<h1 class="ui header">Peliculas Populares</h1>
<div class="ui five stackable cards">
  <div class="card" *ngFor="let movie of movies">
    <a class="image" href="#" [routerLink]="['/movie', movie.id]">
            <img [src]="+img_link+movie.poster_path">
    </a>
    <div class="content">
        <div class="header">{{movie.title}}</div>
        <div class="meta">
        <a>{{movie.original_title}}</a>
        </div>
        
    </div>
    <div class="extra content">
        <span class="right floated">
				<i class="thumbs outline up icon"></i>
				{{movie.vote_average}}
				</span>
        <span>
        <i class="calendar icon"></i>
        {{movie.release_date}}
        </span>
    </div>
  </div>
<router-outlet></router-outlet>
  
</div>